p {
    margin: 0;
    padding: 0;
}

.entry {
    .post-title {
        font-size: 16px;
    }
    .post-body {
        font-size: 14px;
    }
    .comment {
        & + .comment {
            margin-top: 14px;
        }
    }
}